@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome To SafeChat</h3>
    
    <div>
        <img src="~/images/chat.jpg" />
        <p>SafeChat is a web application designed to provide a secure environment for online conversations by ensuring that only safe content is processed. Using Google Authentication, it securely manages user logins, while the Azure Content Safety API screens all user input for harmful content, such as hate speech, violence, or toxicity. If the content passes the safety check, it is forwarded to the Azure OpenAI API, which generates a human-like response. However, if the input contains harmful material, it is blocked, and the user is notified, ensuring a safe and secure interaction every time. </p>
    </div>
  
</div>
